@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #f1f1f1;
    color: #0f141e;
}

.info_text p {
    font-style: italic;
    font-weight: 900;
    color: #8f8986;
}

.norm {
    font-weight: 400;
}

.card {
    padding-left: 10px;
    background: #ebe4e4;
    border-radius: 7px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.container {
    margin: auto;
    padding-top: 30px;
}

.pad {
    padding-left: 10px;
}

.img {
    margin-bottom: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 200px;
    margin-left: 35px;
}

.btn {
    background: #000;
    color: #f1f1f1;
    cursor: pointer;
    padding: 7px 15px;
    border: none;
}

.btn:hover {
    opacity: 0.8;
}

a {
    color: #8f8986;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 900;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

table {
    text-align: center;
    width: 50%;
    
}

table td {
    border: 1px solid grey;
}

table td:hover {
    background: #c7c5c4;
}

.hobby ul {
    color: #8f8986;
    margin: 0;
    padding-left: 20px;
}

.hobby ul li {
    font-weight: 900;
    margin-bottom: 5px;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /*display: inline-block;*/
    margin-right: 20px;
    /*width: 48%;*/
    width: 50%;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.form-group label{
    display: block;
    font-size: 14px;
    color: #8f8986;
}

.form-group input,
.form-group textarea {
    width: 100%;
    /*box-sizing: border-box;*/
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    padding: 15px 0px 10px;
    outline: none;
    font-family: inherit;
}











@media (max-width: 650px) {
    header {
        text-align: center;
    }
    .img {
        width: 250px;
    }
    
    table {
        width: 400px;
        height: 120px;
    }
    ul {
        text-align: left;
    }
}

.container {
    max-width: 1150px;
}


@media (max-width: 430px) {
    table {
        width: 300px;
    }
}

